# .env.example

# MongoDB project configuration
MONGODB_URL=your_mongo_url
MONGODB_DB_NAME=your_mongo_db_name
MONGODB_COLLECTION_NAME=your_mongo_collection_name

MONGODB_TEXT_SEARCH_INDEX_NAME=your_text_search_index_name
MONGODB_TEXT_SEARCH_FIELD_NAME=your_text_search_field_name

MONGODB_VECTOR_SEARCH_INDEX_NAME=your_vector_search_index_name
MONGODB_VECTOR_SEARCH_FIELD_NAME=your_vector_search_field_name
MONGODB_VECTOR_SEARCH_NUM_DIMENSIONS=your_vector_search_num_dimensions
MONGODB_VECTOR_SEARCH_SIMILARITY=your_vector_search_similarity